
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AccessDenied</h1>


<h2 style="color:orangered">
    you don't have permission to access on this Page
</h2>