@model IEnumerable<TahirMvc123.Models.Role>
@{
    ViewData["Title"] = "CreateR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateR</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 col-lg-2 col-sm-2">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
            @*@Html.CheckBox("gg", new { @class = "fff", @Value = item.Id })*@
            <input type="checkbox" value="@item.Id" class="cb" />
        </div>
    }
</div>



<div class="row">

</div>
<br />


<button id="btnCreate" class="btn btn-secondary btn-sm">Submit</button>

<script>
    $(document).ready(function () {
        // debugger;

    });


    $("#btnCreate").click(function () {
        var arrayToList = [];
        $("input:checkbox:checked").each((ind, item) => {
            //console.log(ind, item);
            arrayToList.push(+item.value);
        });

        console.log(arrayToList);

        $.ajax({
            data: { roles: arrayToList },
            method: "POST",
            url: "AssignRoles",
            success: function (result) {
                console.log("success");
            },
            error: function () {

            }
        });
    });

</script>