@model TahirMvc123.Models.FamilyMember

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>FamilyMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="parentid" class="control-label"></label>
                    <input asp-for="parentid" class="form-control" />
                    <span asp-validation-for="parentid" class="text-danger"></span>*@

                <label asp-for="ParentId" class="control-label"></label>
                <select asp-for="ParentId" class="form-control" asp-items="ViewBag.parentid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyId" class="control-label"></label>
                <select asp-for="FamilyId" class="form-control" asp-items="ViewBag.Familylist"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

 
<script type="text/javascript">

    $(document).ready(function () {
        var Message = '';
        var msgType = '';
        var Viewpath = '';
        if (Message.length > 0) {
            AlertMessage(Message, msgType, Viewpath);
        }
       

    });
    //$('#btnCreate').click(function (evt) {
    //    evt.preventDefault();
    //    var $form = $('form');
    //    debugger
    //    if ($form.valid()) {
    //        $(".myloader").show();
    //        $form.submit();
    //    }
    //});
    
    function AlertMessage(Message, Messagetype, Viewpath) {

        if (Messagetype == '1') {
            swal({
                title: "Congratulations!",
                text: Message,
                type: "success"
            },
            function () {
                location.href = Viewpath;
            }
            );
        }
        else {
            swal(
                "Oops!",
               Message,
               "error"
                );
        }
    }
</script>
