@model TahirMvc123.Models.FamilyMember

@{
    ViewData["Title"] = "CreateAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        table, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

        <table id="myTable">
        <tr> 
               
        
        <td><input asp-for="MemberName" /></td>
            
        </tr>
        
    </table>
    <br>

    <button type="button" onclick="myFunction()">Try it</button>

    

</body>
</html>

<script>
    function myFunction() {
        var table = document.getElementById("myTable");
        var row = table.insertRow(0);
        //var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        //cell1.innerHTML = "NEW CELL1";
        cell2.innerHTML = "<td><input type='text' /></td>";
    }
</script>